$black:#555;
$white: #fff;
$overlayGrey: #D0CDD3;
$dangerColor:#DC3546;
.Modal {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    background-color: $white;
    opacity: 1;
    max-height:500px;
    overflow-y:scroll;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlayGrey;
  }
.title{
    color: $black;
}
.modal-container{
    padding: 20px;
    & .user-details{
        display: flex;
        flex-direction: column;
        & .title{
            width: 100%;
        }
        & .row-data{
            width:100%;
            & .key{
                width:35%;
            }
            & .value{
                width:65%;
            }
            & .b{
                font-weight: bold;
            }
        }
    }
    & .cancel-button{
        float: right;
        background: $dangerColor;
        color: $white;
    }
}